ul {
    list-style-type: none;
    list-style-image: url(../Pictures/CarminePazzo.png);
    list-style-position: inside;
}

ol {
    list-style-type: lower-roman;
    list-style-position: inside;
}

.LiInLine {
    display: inline;
}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 20px;
}

a:hover {
    background-color: gray;
}

a:active {
    background-color: yellow;
}
/* a:focus esiste */

.ombre {
    font-style: italic;
    text-transform: capitalize;
    text-decoration: line-through;
    text-shadow: 4px 4px 2px red;
}

/* captalize mette maiuscole a tutte le iniziali di tutte le parole*/

/* txt shadow Horiz Vert Blur*/

